/*  reset   */
body,h1,h2,h3,h4,h5,h6,ul,ol,dl,dd,input,p,pre,form,textarea,th,td,select{margin:0;padding:0;}
em{font-style:normal;}
li{list-style:none;}
a{text-decoration:none;}
a,input{-webkit-tap-highlight-color:rgba(255,0,0,0);}
img{border:none;vertical-align:top;}
table{border-collapse:collapse;}
textarea{resize:none;overflow:auto;outline:none;}
input{outline:none;}
/*  endreset    */

body{font-family:Arial,"微软雅黑";color:#666;font-size:26px;}
.page{width:100%;height:100%;position:absolute;left:0;top:0;overflow:auto;display:none;background-color:white;z-index:1;}
.page:nth-of-type(1){z-index:7;}
.page:nth-of-type(2){z-index:6;}
.page:nth-of-type(3){z-index:5;}
.page:nth-of-type(4){z-index:4;}
.page:nth-of-type(5){z-index:3;}
.page:nth-of-type(6){z-index:2;}
.pageShow{display:block;}


/*  welcome  */
#welcome{transition:1s;}

.tree{position:absolute;left:0;top:10%;width:100%;opacity:0;-webkit-transform:translateY(100px);transform:translateY(100px);-webkit-animation:1s tree;animation:1s tree;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards;}

.fiveOne{position:relative;padding-top:60px;margin-bottom:30px;opacity:0;-webkit-transform:translateY(60px);transform:translateY(60px);-webkit-animation:1s 0.3s tree;animation:1s 0.3s tree;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards;}

.title2{opacity:0;-webkit-transform:translateY(30px);transform:translateY(30px);-webkit-animation:1s 0.6s tree;animation:1s 0.6s tree;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards;}

.shake{position:absolute;right:14%;top:18px;background:url(../../img/demo6/shake.png) no-repeat;width:28px;height:31px;-webkit-transform:rotate(0deg);transform:rotate(0deg);-webkit-animation:0.6s 1s shake;animation:0.6s 1s shake;-webkit-transform-origin:bottom left;transform-origin:bottom left;opacity:0;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards;}

.logo{position:absolute;left:0;bottom:5%;width:100%;text-align:center;opacity:0;-webkit-animation:1.2s logo;animation:1.2s logo;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards;}

.cloud{position:absolute;background:url(../../img/demo6/cloud.png) no-repeat;background-size:contain;-webkit-transform:translateX(0px);transform:translateX(0px);-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards;}
.cloud:nth-of-type(1){top:15px;left:432px;width:60px;height:44px;-webkit-animation:6s infinite alternate cloud;animation:6s infinite alternate cloud;}
.cloud:nth-of-type(2){top:80px;left:80px;width:90px;height:70px;-webkit-animation:5s infinite alternate cloud;animation:5s infinite alternate cloud;}
.cloud:nth-of-type(3){top:142px;left:402px;width:54px;height:40px;-webkit-animation:3s infinite alternate cloud;animation:3s infinite alternate cloud;}

@-webkit-keyframes tree
{
	100%
	{
		-webkit-transform:translateY(0px);
		opacity:1;	
	}
}
@keyframes tree
{
	100%
	{
		transform:translateY(0px);
		opacity:1;	
	}
}
@-webkit-keyframes logo
{
	100%
	{
		opacity:1;	
	}
}
@keyframes logo
{
	100%
	{
		opacity:1;	
	}
}
@-webkit-keyframes shake
{
	0%
	{
		-webkit-transform:rotate(0deg);	
		opacity:1;
	}
	10%
	{
		-webkit-transform:rotate(25deg);	
	}
	20%
	{
		-webkit-transform:rotate(-20deg);	
	}
	30%
	{
		-webkit-transform:rotate(20deg);	
	}
	40%
	{
		-webkit-transform:rotate(-15deg);	
	}
	50%
	{
		-webkit-transform:rotate(15deg);	
	}
	60%
	{
		-webkit-transform:rotate(-10deg);	
	}
	70%
	{
		-webkit-transform:rotate(10deg);	
	}
	80%
	{
		-webkit-transform:rotate(-5deg);	
	}
	90%
	{
		-webkit-transform:rotate(5deg);	
	}
	100%
	{
		-webkit-transform:rotate(0deg);	
		opacity:1;
	}
}
@keyframes shake
{
	0%
	{
		transform:rotate(0deg);	
		opacity:1;
	}
	10%
	{
		transform:rotate(25deg);	
	}
	20%
	{
		transform:rotate(-20deg);	
	}
	30%
	{
		transform:rotate(20deg);	
	}
	40%
	{
		transform:rotate(-15deg);	
	}
	50%
	{
		transform:rotate(15deg);	
	}
	60%
	{
		transform:rotate(-10deg);	
	}
	70%
	{
		transform:rotate(10deg);	
	}
	80%
	{
		transform:rotate(-5deg);	
	}
	90%
	{
		transform:rotate(5deg);	
	}
	100%
	{
		transform:rotate(0deg);
		opacity:1;	
	}
}
@-webkit-keyframes cloud
{
	0%
	{
		-webkit-transform:translateX(50px);	
	}
	100%
	{
		-webkit-transform:translateX(0px);	
	}
}
@keyframes cloud
{
	0%
	{
		transform:translateX(50px);	
	}
	100%
	{
		transform:translateX(0px);	
	}
}




/* index */
#index{transition:1s;}
.wrap{position:relative;height:100%;min-height:1136px;overflow:hidden;}
#index .tabWrap{position:relative;overflow:hidden;}
#index .tabPic{width:500%;overflow:hidden;-webkit-transform:translateX(0px);transform:translateX(0px);}
#index .tabPic li{float:left;width:20%;}
#index .tabPic img{width:100%;height:340px;}
.newsBtn{width:78px;height:78px;position:absolute;right:20px;top:20px;}
.newsBtn p{position:absolute;text-align:center;top:0;right:0;width:56px;height:56px;line-height:28px;font-size:22px;padding:11px;letter-spacing:2px;background:rgba(230,0,18,0.3);color:#fff;border-radius:39px;z-index:2;}
.newsBtn span{position:absolute;text-align:center;top:0;right:0;width:78px;height:78px;background:rgba(230,0,18,0.3);color:#fff;border-radius:39px;opacity:0.1;-webkit-transform:scale(0);transform:scale(0);}
.newsBtn span:nth-of-type(1){-webkit-animation:2s infinite alternate news;animation:2s infinite alternate news;}
.newsBtn span:nth-of-type(2){-webkit-animation:2s 0.4s infinite alternate news;animation:2s 0.4s infinite alternate news;}
.newsBtn span:nth-of-type(3){-webkit-animation:2s 0.8s infinite alternate news;animation:2s 0.8s infinite alternate news;}
.newsBtn span:nth-of-type(4){-webkit-animation:2s 1.2s infinite alternate news;animation:2s 1.2s infinite alternate news;}

@-webkit-keyframes news
{
	0%
	{
		opacity:0.1;
		-webkit-transform:scale(0);	
	}
	30%
	{
		opacity:1;
		-webkit-transform:scale(1.4);	
	}
	50%
	{
		opacity:0.6;
		-webkit-transform:scale(0.8);	
	}
	70%
	{
		opacity:1;
		-webkit-transform:scale(1.4);	
	}
	100%
	{
		opacity:0.1;
		-webkit-transform:scale(1);	
	}
}
@keyframes news
{
	0%
	{
		opacity:0.1;
		transform:scale(0);	
	}
	30%
	{
		opacity:1;
		transform:scale(1.4);	
	}
	50%
	{
		opacity:0.6;
		transform:scale(0.8);	
	}
	70%
	{
		opacity:1;
		transform:scale(1.4);	
	}
	100%
	{
		opacity:0.1;
		transform:scale(1);	
	}
}





#index .tabNav{height:100px;position:absolute;left:0;bottom:0;width:100%;background:-webkit-linear-gradient(bottom,rgba(0,0,0,0.8),rgba(0,0,0,0));background:linear-gradient(bottom,rgba(0,0,0,0.8),rgba(0,0,0,0));}
#index .tabNav p{position:absolute;left:10%;top:0;line-height:120px;font-size:30px;color:white;}
#index .tabNav ol{position:absolute;right:6%;top:0;height:100px;}
#index .tabNav ol li{margin-left:10px;margin-top:60px;float:left;width:10px;height:10px;border-radius:5px;background:white;opacity:0.5;}
#index .tabNav ol .active{opacity:1;}

.score{ line-height:60px;padding:17px 0 22px 26px; border-bottom:1px solid #e5e5e5;}
.score span{ font-size:28px;margin-left:30px;}
.score li{height:60px; position:relative;}
.score nav{ position:absolute;left:187px;top:12px;}
.score nav a{float:left; background:url(../../img/demo6/star.png) no-repeat -38px 0; width:38px;height:36px;margin-right:39px; transition:.3s;}
.score nav .active{ background-position:0 0;}

.flags h2{font-size:28px;font-weight:normal;margin-left:26px;margin-top:21px;line-height:54px;}
.flags label{float:left;line-height:50px;margin:10px 14px 10px 3px;}
.flags span{float:left;height:48px;border:1px solid #cdd6e1;padding:0 24px;border-radius:10px;}
.flags input{display:none;}
.flags input:checked+span{border-color:#3c9bbb;background-color:#3c9bbb;color:#fff;}


.btn{position:absolute;bottom:17px;left:17px;width:606px;height:74px;background:#cacaca;border-radius:10px;font-size:30px;line-height:74px;}
.submit{background:#3c9bbb;color:white;}
.info{width:100%;text-align:center;position:absolute;line-heihgt:60px;bottom:90px;-webkit-transform-origin:bottom;transform-origin:bottom;opacity:0;transition:1s;-webkit-transform:scale(0);transform:scale(0);}

/*mask*/
#mask{background: url(../../img/demo6/mask.png) no-repeat center 400px rgba(0,0,0,0.7);opacity:0;}
/*news*/
#news{opacity:0.6;transition:1s;background:#eee;}
#news h2{line-height:80px;padding:24px 0 0 34px;font-size:26px;font-weight:normal;}
.file{background:#fff;height:188px;}
.file label{width:50%;height:100%;float:left;box-sizing:border-box;padding-top:130px;text-align:center;position:relative;line-height:52px;}
.file label:nth-of-type(1){border-right:1px solid #e5e5e5;background:url(../../img/demo6/camera1.png) no-repeat center;}
.file label:nth-of-type(2){background:url(../../img/demo6/camera2.png) no-repeat center;}
.file input{display:none;}

/*form*/
#form{background:#eee;width:100%;height:100%;min-height:1136px;overflow:auto;}
#form h2{font-size:28px;font-weight:normal;margin-left:30px;}
#form .formFlags{background:url(../../img/demo6/formBg.png) no-repeat;height:341px;padding-top:52px;color:#fff;}
.formFlags label{float:left;line-height:50px;margin:10px 14px 10px 3px;padding-left:30px;}
#form .formFlags input{display:none;}
#form .formFlags span{float:left;height:48px;border:1px solid #cdd6e1;padding:0 24px;border-radius:10px;}
.formFlags input:checked+span{border-color:#fff;background-color:rgba(60,155,183,0.8);color:#fff;}
.formText{font-size:26px;line-height:50px;padding:10px 20px;margin-top:30px;width:100%;overflow:auto;box-sizing:border-box;}
#form .info{transition:0s;opacity:0;-webkit-transform:scale(1);transform:scale(1);}









